<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>课程可视化~</title>
</head>
<body>
<div>
    <h1 style="color: darkgoldenrod">{{.info}}</h1>
    <h2><a href="/">总览</a></h2>
    <h3>{{.displayName}} 的子标签👇</h3>
    <div>
        <a href="{{.lastPath}}">返回上一级</a>
        <br>
        {{range .displayNames}}
            <a href="/{{.}}">{{.}}</a>
            <br>
        {{end}}
    </div>
    <h3>{{.displayName}} 的选课情况👇 子标签👆</h3>
    <div>已选: 「 {{.curCredit}} 」 学分
        {{range .selectedCourses}}
            <ul>{{.}}</ul>
        {{end}}
    </div>
    <div>以上共 {{.curCredit}} 学分 => 毕业需要 {{.totalCredit}} 学分</div>
    <br>
    <div>未选: 「 {{.anotherCredit}} 」 学分
        {{range .unselectedCourses}}
            <ul>{{.}}</ul>
        {{end}}
    </div>
</div>
</body>

</html>